{
	"parser": "babel-eslint",
	"extends": ["tmaito"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
	"env": {
		"browser": true,
		"mocha": true,
		"node": true
	},
	"rules": {
		// "valid-jsdoc": 2,
	},
}
